/* Grundlegende Einstellungen */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  position: relative;
  background-image: url("assets/blue_1920.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Allgemeines Styling für Navigation-Buttons */
.corner-button {
  position: absolute;
  width: 11vh;
  height: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 3px 15px -3px rgba(0, 0, 0, 0.5);
  transition: opacity 0.6s ease, transform 0.9s ease;
  opacity: 0.6;
  z-index: 10;
}

.corner-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

/* Positionierung der Buttons in den Ecken */
.top-left {
  position: fixed;
  top: 7vw;
  left: 7vw;
  animation: slide-in-top-left 2s ease;
}

.top-right {
  position: fixed;
  top: 7vw;
  right: 7vw;
  animation: slide-in-top-right 2s ease;
}

.bottom-left {
  position: fixed;
  bottom: 7vw;
  left: 7vw;
  animation: slide-in-bottom-left 2s ease;
}

.bottom-right {
  position: fixed;
  bottom: 7vw;
  right: 7vw;
  animation: slide-in-bottom-right 2s ease;
}

/* Top-Middle Button (Home) ohne Drehung beim Hover */
.top-middle {
  position: fixed;
  top: -0.25%;
  left: 43.5%; /* home ist in der Mitte: 43,5 + 13 + 43,5 =100% */
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  animation: slideInFromTop 1.5s ease-out forwards;
  opacity: 0;
}

.top-middle-inner {
  width: 100%;
  height: 100%;
  transform-origin: center;
  transition: transform 0.9s ease;
}

/* Standardmäßige Transparenz für das Home-Button-Bild */
.top-middle img {
  opacity: 0.6; /* 60% Transparenz im Standardzustand */
  transition: opacity 0.3s ease; /* Übergang für Hover */
  width: 13vw;
}

/* Hover-Effekt für das Home-Button-Bild */
.top-middle:hover img {
  opacity: 1; /* 100% Sichtbarkeit beim Hover */
}

/* Hover-Effekt für die Vergrößerung des Home-Buttons */
.top-middle:hover .top-middle-inner {
  transform: scale(1.2);
  cursor: pointer;
  border-radius: 0px;
}

/* Hover-Effekt mit Drehung für alle anderen corner-buttons */
.corner-button:hover {
  opacity: 1;
  transform: scale(1.2) rotate(90deg);
  cursor: pointer;
}

/* Keine Hover-Effekte und kein Pointer-Cursor für .corner-button.top-left */
.corner-button.top-left:hover {
  opacity: 0.6;
  transform: none;
  cursor: default;
}

/* Header fixiert am oberen Rand */
h1 {
  display: block;
  position: fixed;
  top: 15vh;
  left: 18vw;
  width: 18.4vw;
  text-align: left;
  font-size: 3vw;
  padding-left: 1vw;
  margin-left: 3vw;
  z-index: 1000;
  color: rgb(255, 255, 255);
  background: rgba(255, 0, 0, 0.6);
  border-radius: 7px;
  box-shadow: 1px 3px 15px -3px rgba(0, 0, 0, 0.5);
  transform: rotate(-9deg);
}

/* Main-Bereich */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.lebenslauf {
  margin-top: 7vh;
  max-width: 65vw;
  width: 60vw;
  height: auto;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  overflow-y: auto;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInSlideUp 2s ease forwards;
}

.lebenslauf::-webkit-scrollbar {
  display: none;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.presentation-selbstportrait img {
  width: 100%;
  max-width: 90%;
  height: auto;
  border-radius: 5px;
}

.presentation img {
  width: 100%;
  max-width: 90%;
  height: auto;
  border-radius: 7px;
  margin-bottom: 1vh;
}

.content {
  text-align: left;
  width: 100%;
}

p {
  margin-bottom: 2vh;
}

/* Keyframes für Slide-In-Effekte */
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top-left {
  0% {
    transform: rotate(-90deg) translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-top-right {
  0% {
    transform: rotate(90deg) translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-bottom-left {
  0% {
    transform: rotate(90deg) translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-bottom-right {
  0% {
    transform: rotate(-90deg) translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fadeInSlideUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@media (max-width: 550px) {
  main .lebenslauf {
    width: 100vw; /* Nutzt die gesamte Breite des Bildschirms */
    margin-top: 20vh; /* Reduzierter Abstand oben */
    margin-bottom: 20vh; /* Reduzierter Abstand unten */
    padding: 2rem; /* Kleinere Innenabstände für mehr Platz */
  }
}