@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap");

/* Grundlegende Einstellungen */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("assets/blue_1920.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  position: relative;
}

section {
  text-align: center;
  font-size: 4vh;
}

.web {
  width: 50vw;
  opacity: 0;
  animation: slide-in-from-right 2s ease forwards;
  animation-delay: 2s;
}

.print {
  width: 50vw;
  opacity: 0;
  animation: slide-in-from-left 2s ease forwards;
  animation-delay: 4s;
}

.branding {
  width: 50vw;
  opacity: 0;
  animation: slide-in-from-right 2s ease forwards;
  animation-delay: 6s;
}
.corner-button img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Skaliert das Bild, um den Container zu füllen, ohne das Seitenverhältnis zu verzerren */
  border-radius: 5px;
}

/* Basis-Button-Design */
.corner-button {
  position: absolute;
  width: 10vh;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 3px 15px -3px rgba(0, 0, 0, 0.5);
  transition: background-color 0.6s ease, transform 0.9s ease;
  z-index: 10;
}

/* Hover-Effekte für die Buttons */
.corner-button:hover {
  transform: scale(1.5) rotate(90deg);
  box-shadow: 3px 5px 15px -3px rgba(0, 0, 0, 0.6),
    5px -5px 15px -3px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

/* Ecken-Positionierung und Animationen */
.top-left {
  top: 5vw;
  left: 5vw;
  transform: rotate(0deg);
  transform-origin: center;
  animation: slide-in-top-left 2s ease;
}

.top-right {
  top: 5vw;
  right: 5vw;
  transform: rotate(0deg);
  transform-origin: center;
  line-height: 1;
  animation: slide-in-top-right 2s ease;
}

.bottom-left {
  bottom: 5vw;
  left: 5vw;
  transform: rotate(0deg);
  transform-origin: center;
  animation: slide-in-buttom-left 2s ease;
}

.bottom-right {
  bottom: 5vw;
  right: 5vw;
  transform: rotate(0deg);
  transform-origin: center;
  animation: slide-in-buttom-right 2s ease;
}
.web .print .branding {
  width: 45vw;
}

/* Hover-Effekte für .webdiv, .printdiv, und .brandingdiv */
.webdiv,
.printdiv,
.brandingdiv {
  transition: background-color 5s ease, color 5s ease;
  border-radius: 5px;
  padding-top: 0.5vh;
}

.webdiv:hover,
.printdiv:hover,
.brandingdiv:hover {
  background-color: #0e305d;
  font-size: larger;
  color: #0f345b;
  cursor: pointer;
}

.divider {
  width: 50%; /* Halbe Breite der h1 */
  height: 1px; /* Dicke des Strichs */
  background-color: rgba(255, 255, 255, 0.7); /* Farbe des Strichs */
  margin: 10px auto; /* Abstand oben und unten, zentriert */
  opacity: 0; /* Standardmäßig unsichtbar */
  animation: fade-in 6s forwards; /* Animation */
}

/* Keyframes für die Nav (corner-button) */
@keyframes slide-in-top-left {
  0% {
    transform: rotate(-90deg) translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}@keyframes slide-in-top-right {
  0% {
    transform: rotate(90deg) translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-buttom-left {
  0% {
    transform: rotate(90deg) translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}@keyframes slide-in-buttom-right {
  0% {
    transform: rotate(-90deg) translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Keyframes für Hero */

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-from-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Fade-in Animation für die Striche */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Responsivität */
@media (max-width: 600px) {
  .divider {
    width: 80%; /* Breite für kleine Bildschirme */
  }
}

@media (min-width: 1200px) {
  .divider {
    width: 40%; /* Breite für große Bildschirme */
  }
}

/* Animation für die Striche, verzögert um 2s nach der H1 */
.divider:nth-of-type(1) {
  animation-delay: 4s;
}

.divider:nth-of-type(2) {
  animation-delay: 6s;
}
