/* Grundlegende Einstellungen */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  position: relative;
  background-image: url("assets/blue_1920.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Allgemeines Styling für Navigation-Buttons */
.corner-button {
  position: absolute;
  width: 7vh;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 3px 15px -3px rgba(0, 0, 0, 0.5);
  transition: opacity 0.6s ease, transform 0.9s ease;
  opacity: 0.6;
  z-index: 10;
}

.corner-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

/* Positionierung der Buttons in den Ecken */
.top-left {
  position: fixed;
  top: 7vw;
  left: 7vw;
  animation: slide-in-top-left 2s ease;
}

.top-right {
  position: fixed;
  top: 7vw;
  right: 7vw;
  animation: slide-in-top-right 2s ease;
}

.bottom-left {
  position: fixed;
  bottom: 7vw;
  left: 7vw;
  animation: slide-in-bottom-left 2s ease;
}

.bottom-right {
  position: fixed;
  bottom: 7vw;
  right: 7vw;
  animation: slide-in-bottom-right 2s ease;
}

/* Top-Middle Button (Home) ohne Drehung beim Hover */
.top-middle {
  position: fixed;
  top: -0.25%;
  left: 43.5%; /* home ist in der Mitte: 43,5 + 13 + 43,5 =100% */
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  animation: slideInFromTop 1.5s ease-out forwards;
  opacity: 0;
}

.top-middle-inner {
  width: 100%;
  height: 100%;
  transform-origin: center;
  transition: transform 0.9s ease;
}

/* Standardmäßige Transparenz für das Home-Button-Bild */
.top-middle img {
  opacity: 0.6; /* 60% Transparenz im Standardzustand */
  transition: opacity 0.3s ease; /* Übergang für Hover */
  width: 13vw;
}

/* Hover-Effekt für das Home-Button-Bild */
.top-middle:hover img {
  opacity: 1; /* 100% Sichtbarkeit beim Hover */
}

/* Hover-Effekt für die Vergrößerung des Home-Buttons */
.top-middle:hover .top-middle-inner {
  transform: scale(1.5);
  cursor: pointer;
  border-radius: 0px;
}

/* Hover-Effekt mit Drehung für alle anderen corner-buttons */
.corner-button:hover {
  opacity: 1;
  transform: scale(1.7) rotate(90deg);
  cursor: pointer;
}

/* Keine Hover-Effekte und kein Pointer-Cursor für .corner-button.top-right */
.corner-button.top-right:hover {
  opacity: 0.6;
  transform: none;
  cursor: default;
}

/* Main-Bereich */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.lebenslauf {
  margin-top: 7vh;
  max-width: 65vw;
  width: 60vw;
  height: auto;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 2rem;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(20px);
  animation: fadeInSlideUp 2s ease forwards;
  opacity: 0;
  border-top: 0.25vh solid rgba(255, 255, 255, 0.6);
}

.content {
  text-align: justify; /* Blocksatz für Text */
  width: 50%;
  margin: 0 auto; /* Zentriert den Inhalt */
}

.lebenslauf::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%; /* Container nutzt die volle Breite von .lebenslauf */
  display: flex;
  flex-direction: column;
  align-items: center; /* Zentriert die Inhalte */
  gap: 1vh;
}
h3 {
  text-align: center; /* H3-Überschrift zentriert */
  margin-bottom: 1vh; /* Abstand zur Präsentation */
  font-size: 3vh;
}
h4 {
  margin-bottom: 0.5vh;
}

.textportrait {
  width: 50%; /* Gleiche Breite wie das Bild */
  margin: 0 auto; /* Zentriert den Textbereich */
  text-align: center;
  margin-bottom: 5.5vh;
}

.presentation-selbstportrait {
  width: 50%; /* Präsentationsbereich auf 50% Breite */
  margin: 0 auto 1.5rem auto; /* Zentriert das Bild und fügt Abstand unten hinzu */
  display: flex;
  justify-content: center;
}
.presentation-selbstportrait img {
  width: 100%;
  height: auto;
  border-radius: 7px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  transition: transform 1s ease; /* Übergangseffekt */
}
.presentation img {
  width: 100%; /* Breite des Bildes, passt sich besser in den Container ein */
  max-width: 100%; /* Verhindert, dass das Bild über die Breite hinausgeht */
  height: auto;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 7px;
  transition: transform 1s ease; /* Übergangseffekt */
}

.presentation-selbstportrait img:hover,
.presentation img:hover {
  transform: scale(1.025); /* Vergrößert das Bild um 10% */
  cursor: pointer;
}
.content {
  text-align: justify; /* Blocksatz für Text */
  width: 100%; /* Text nutzt die volle Breite des Containers */
  margin: 0 auto;
}

p {
  margin-bottom: 2vh;
  text-align: justify; /* Blocksatz für Absätze */
  line-height: 1.3;
}

/* Stil und Animation für die Buchstaben */
.seitentext {
  position: fixed;
  top: 50%;
  right: 7vw;
  transform: translateY(-50%);
  z-index: 10;
  text-transform: uppercase;
}

.referenzen h2 {
  display: block;
  transform: rotate(-90deg);
  margin: 0px 0;
  text-align: center;
  font-size: 2.5vw;
  opacity: 0; /* Unsichtbar vor der Animation */
  visibility: hidden; /* Verhindert Sichtbarkeit vor der Animation */
  animation: slideIn forwards;
  animation-fill-mode: forwards;
}

/* Keyframes für die Slide-In-Animation der Buchstaben */
@keyframes slideIn {
  0% {
    transform: translateX(350%) rotate(-90deg);
    opacity: 0;
    visibility: visible; /* Sichtbarkeit aktivieren */
  }
  70% {
    transform: translateX(-50%) rotate(-90deg);
    opacity: 0.6;
  }
  100% {
    transform: translateX(0) rotate(-90deg);
    opacity: 1;
    visibility: visible; /* Sicherstellen, dass sichtbar bleibt */
  }
}

/* Unterschiedliche Dauer und Verzögerung für jeden Buchstaben */
.referenzen h2:nth-child(1) {
  animation-duration: 2s;
  animation-delay: 1s;
}
.referenzen h2:nth-child(2) {
  animation-duration: 1.3s;
  animation-delay: 3.2s;
}
.referenzen h2:nth-child(3) {
  animation-duration: 3.5s;
  animation-delay: 0.4s;
}
.referenzen h2:nth-child(4) {
  animation-duration: 3s;
  animation-delay: 2s;
}
.referenzen h2:nth-child(5) {
  animation-duration: 1.4s;
  animation-delay: 0.8s;
}
.referenzen h2:nth-child(6) {
  animation-duration: 4s;
  animation-delay: 1s;
}
.referenzen h2:nth-child(7) {
  animation-duration: 1.6s;
  animation-delay: 1.2s;
}
.referenzen h2:nth-child(8) {
  animation-duration: 1.3s;
  animation-delay: 1.4s;
}
.referenzen h2:nth-child(9) {
  animation-duration: 1.5s;
  animation-delay: 3s;
}
.-frei- {
  color: transparent;
}

/* Keyframes für Slide-In-Effekte */
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top-left {
  0% {
    transform: rotate(-90deg) translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-top-right {
  0% {
    transform: rotate(90deg) translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-bottom-left {
  0% {
    transform: rotate(90deg) translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-bottom-right {
  0% {
    transform: rotate(-90deg) translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



/* Lightbox-Overlay */
.lightbox {
  display: none; /* Anfangszustand ist unsichtbar */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Hintergrund abgedunkelt */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Sicherstellen, dass es über anderen Elementen liegt */
}

/* Lightbox-Inhalt */
.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border: 3px solid #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease; /* Sanfter Zoom-Effekt */
}

/* Klick-Effekt */
.lightbox img:active {
  transform: scale(0.95);
}

/* Responsive Anpassungen */
@media (max-width: 550px) {
  main .lebenslauf {
    width: 100vw;
    margin-top: 12vh; /* Abstand oben */
    margin-bottom: 12vh; /* Abstand unten */
    padding: 4vw; /* Anpassung des Innenabstands */
    border-bottom: 0.25vh dashed rgba(255, 255, 255, 0.2);
  }
}
@media (max-width: 550px) {
  .top-middle img {
    opacity: 0.6; /* 60% Transparenz im Standardzustand */
    transition: opacity 0.3s ease; /* Übergang für Hover */
    width: 16vw;
  }
  
  .referenzen h2 {
    font-size: 5vw;
    opacity: 0; /* Unsichtbar vor der Animation */
    visibility: hidden; /* Verhindert Sichtbarkeit vor der Animation */
    animation: slideIn forwards;
    animation-fill-mode: forwards;
  }
  .top-middle img {
      width: 25vw;
  }
  .top-middle {
    top: -0.2%;
    left: 37.5%;
  }
}
  @media (min-width: 1400px) {
    .corner-button {
      position: absolute;
      width: 9vh;
      height: 9vh;
    }
    main .lebenslauf {
      width: 100vw;
      margin-top: 9vh;
      padding: 2rem;
    }
  }
  